.h-list {
    text-align: center;
    margin: 10px;
}

.subtitle-list {
    text-align: center;
    margin: 5px;
}

.list {
    max-width: 75%;
    margin: auto;
}

.h-app {
    text-align: center;
    margin: 10px;
}